@use "../../styles/abstracts/index" as a;

.root {
  color: white;
  margin-top: auto;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
      margin-right: auto;
    }
    .iconBox {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: a.remGolden(3);
      a {
        width: 32px;
      }
    }

    @media screen and (max-width: a.$breakpoint-very-small-screen) {
      padding-left: a.remGolden(4);
      flex-direction: column-reverse;
      p {
        margin-right: 0px;
      }
      .iconBox {
        margin-left: -(a.remGolden(3));
        margin-bottom: a.remGolden(3);
      }
    }
  }
}
