@use "../../styles/abstracts/index" as a;

.root {
  //@include a.border-settings;
  @include a.box-shadow;
  @include a.card-border-radius;
  height: fit-content;
  overflow: hidden;

  h1,
  h2,
  h3 {
    background-color: a.$color-a-transparent;
    padding: a.$heading-font-padding;
    font-size: a.$heading-font-size;
  }

  h2 {
    color: a.$color-a-very-light;
    font-size: a.$heading-font-size;
    padding-top: 0;
  }

  ul li {
    padding: a.remGolden(2);
    background-color: a.$card-odd-item-color;
    &:nth-child(odd) {
      background-color: a.$card-even-item-color;
    }
  }
}
