@use '../../styles/abstracts/index' as a;

.form {
    display: flex;
    flex-direction: column;
    padding: a.remGolden(4);
    input {
        margin-bottom: a.remGolden(2);
    }
    textarea {
        resize: none;
    }
    button{
        margin-top: a.remGolden(3);
        font-size: a.$sub-heading-font-size;
        width:fit-content;
        padding:a.remGolden(1);
        align-self: flex-end;
        border-width:0;
        background-color: a.$color-a;
        color:white;
        border-radius:a.$card-border-radius;
        &:hover{
            background-color:a.$color-a-light;
        }
    }
}
.main {
    @include a.card-border-radius;
    @include a.box-shadow;
}

.fieldAndError {
    display: flex;
    flex-direction: row;
    margin-bottom: a.remGolden(1);

    p {
        margin-left: auto;
        color: red;
    }
}

.sending {

    background-color: a.$color-a-very-light-transparent;
    @include a.box-shadow;
    @include a.card-border-radius;
    padding: a.remGolden(4);
    text-align: center;
    h1 {
        color: a.$color-a;
        font-size: a.remGolden(9);
    }
}