@use '../../styles/abstracts/index' as a;

.certification{
    background-color:white;
    @include a.box-shadow;
    @include a.card-border-radius;
    cursor: pointer;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    h1{
        color: a.$color-a;
        text-decoration: none;
    }
}