@use './abstracts' as a;

.root {
    position: relative;
    overflow-x: hidden;
}

.cloud {
    position: absolute;
    left: 0;
    z-index: -1000;
}

.cloud1 {
    animation: mover 20s infinite linear;
    top: 80px;
}

.cloud2 {
    animation: mover 17s infinite linear;
    top: 230px;
}

.cloud3 {
    animation: mover 11s infinite linear;
    top: 400px;
}

.cloud4 {
    animation: mover 8s infinite linear;
    top: 650px;
}

.cloud5 {
    animation: mover 7s infinite linear;
    top: 1000px;
}

.cloud6 {
    animation: mover 10s infinite linear;
    top: 1300px;
}
.cloud7 {
    animation: mover 10s infinite linear;
    top: 700px;
}

@keyframes mover {
    from {
        left: 0;
        transform: translateX(-100%);
    }

    to {
        left: 100%;
        transfrom: translateX(0);
    }
}