@use './abstracts' as a;



.root {
    justify-content: center;
    align-items: center;
    display: flex;
    @include a.box-shadow;
    border-radius: a.remGolden(2);
    background-color: a.$color-a-very-light;
    flex-direction: row;
    padding: a.remGolden(4);
}



.infoBox {
    padding-right: a.remGolden(4);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;

}

.title {
    font-size: a.$title-font-size;
    color: white;
    padding: a.remGolden(3);
    background-color: a.$color-a;
    border-top-left-radius: a.$card-border-radius;
    border-top-right-radius: a.$card-border-radius;
}

.description {
    padding: a.remGolden(3);
    background-color: white;
    border-bottom-left-radius: a.$card-border-radius;
    border-bottom-right-radius: a.$card-border-radius;
    height: 100%;

    h3 {
        color: a.$color-a;
        margin-bottom: a.remGolden(2);
        font-size: a.$sub-heading-font-size;
    }
    p {
        margin-bottom: a.remGolden(2);
        text-indent: 2rem;
    }
    ul {
        margin-left: a.remGolden(6);
        margin-bottom: a.remGolden(2);
    }

    li {
        list-style-type: disc;
        margin-bottom: a.remGolden(.5);
    }
}

.previewStack {
    display: grid;
    row-gap: a.remGolden(4);
    grid-template-columns: 1fr;
    margin-left: auto;
    flex: none;


}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: a.$card-border-radius;
    text-align: center;
    text-decoration: none;
    font-size: a.$sub-heading-font-size;
    padding: a.remGolden(2);

    

    .previewText {
        color:a.$color-a;
        padding: a.remGolden(2);
        padding-bottom: 0;
        &:hover {
        color: a.$color-a-light;
    }
    }
}

.previewImage {
    border-radius: a.$card-border-radius;
    display: block;
    height: 200px;
    width: 200px;
    border-width: 2px;
    border-color: white;
}