@use './abstracts' as a;

* {
    @include a.clear-margin-and-padding;
    font-family: a.$regular-font;
}

html {
    height: 100%;
    overflow-x: hidden;
}
main {
    min-height: 100%;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
body {
    min-height: 100%;
    background-image: linear-gradient(a.$color-a-light, a.$color-a-very-light);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#__next {
    flex-grow:1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: a.$title-font;
    color: a.$title-font-color;
}

li {
    list-style-type: none;
}

a {
    outline: none;
    text-decoration: none;
    color:white;
    &:hover{
        color:a.$color-a-light;
    }
}
.note {
    border-radius: a.$card-border-radius;
    padding: a.$common-gap;
    @include a.box-shadow;
    h1 {
        color: a.$color-a
    }
}

.background-box {
    padding: a.remGolden(4);
    display: flex;
    justify-content: center;
    @media screen and (max-width: a.$breakpoint-very-small-screen) {
        padding-left: 0px;
        padding-right: 0px;
    }

}

.background-sky {
    background-image: url("https://images.pexels.com/photos/3789871/pexels-photo-3789871.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.background-sky-2 {
    flex-grow: 1;
    background-image: url("https://images.pexels.com/photos/8822081/pexels-photo-8822081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-color-a {
    background-color: a.$color-a;
}

.background-color-a-light {
    background-color: a.$color-a-light;
}

.background-color-a-very-light {
    background-color: a.$color-a-very-light-transparent;
}

.light-color {
    color: a.$color-a-very-light;
}

.fit-height {
    height: 100%;
}

.container {
    width: 100%;
    max-width: a.$max-width;

}
.flex-column {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    & > *{
        margin-bottom: a.remGolden(4);
    }
    last-child{
        margin-bottom:auto;
    }
}
.grid-1-col {
    width: 100%;
    display: grid;
    column-gap: a.remGolden(4);
    row-gap: a.remGolden(4);
    grid-template-columns: 1fr;

}
.grid-2-col {
    width: 100%;
    display: grid;
    column-gap: a.remGolden(4);
    row-gap: a.remGolden(4);
    grid-template-columns: 1fr 1fr;
}

.vertical-card {
    //@include a.border-settings;
    @include a.box-shadow;
    @include a.card-border-radius;
    height: fit-content;
    overflow: hidden;
    h1,h2,h3 {
        background-color: a.$color-a-transparent;
        padding: a.$heading-font-padding;
        font-size: a.$heading-font-size;
    }

    h2 {
        color: a.$color-a-very-light ;
        font-size: a.$heading-font-size;
        padding-top: 0;
    }

    ul li {
        padding: a.remGolden(2);
        background-color: a.$card-odd-item-color;
        &:nth-child(odd) {
            background-color: a.$card-even-item-color;
        }
    }

}

.blog-post {
    img {
        width: 100%;
    }

    p {
        margin: 3rem 0rem 3rem 0rem;
    }
}

footer {
    color: white;
    margin-top: auto;
}

// .input-field{
//     display:flex;
// }